@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/ubuntu-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/ubuntu-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.container {
    display: flex;
    align-content: center;
}
#item-selector {
    max-width: 800px;
    margin: auto;
}
#buttons {
    justify-content: center;
    margin: 1em;
    padding: 1.5em;
}
.select-box {
    /* offset-x | offset-y | blur-radius | color */
    box-shadow: 10px 5px 5px black;
    flex-grow: 1;
    padding: 0.5em;
    text-align: left;
    border: 1px solid lightgrey;
    max-width: 12em;
}
.light {
    color: grey;
}
body {
    font-family: 'Ubuntu', serif;
}
.selectable-element {
    cursor: pointer;
}
.selectable-element:hover {
    background-color: lightgray;
}